<h2>Customers from Loopback (Mongo db)</h2>

<div *ngIf="loading">loading...</div>
<ng-container *ngIf="customers?.length > 0 else tagNotCustomers">

    <div class="shipping-item" *ngFor="let customer of customers">
            <span>{{ customer.name }}</span>
            <span>{{ customer.telephone }}</span>
    </div>

</ng-container>

<ng-template #tagNotCustomers>
    <div *ngIf="!error">There are not customers</div>
</ng-template>

<hr>
<h2>Customers from Firebase</h2>
<div *ngFor="let c of customersFireBase">
    {{ c.name }}
</div>

<hr>
<h3>Add customer to db mongo db</h3>
<form [formGroup]="customerFormModel" (ngSubmit)="addCustomerLavadero(customerFormModel.value)">

    <div>
        <label>Name</label>
        <input type="text" formControlName="name">
    </div>
    <div>
        <label>Telephone</label>
        <input type="text" formControlName="telephone">
    </div>
    <div>
        <label>Address</label>
        <input type="text" formControlName="address">
    </div>

    <button class="button" type="submit">Add customer</button>

</form>
